@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body{
	background: #eceff4;
}

.wrapper{
	position: relative;
	width: 325px;
	margin: 150px auto 0;
}

.profile_card{
	width: 325px;
	height: 450px;
	background: #8178d1;
	padding: 50px 25px;
	position: relative;
	z-index: 1;
}

.profile_card{
	color: #fff;
	text-align: center;
}

.profile_card .profile_img img{
	width: 80px;
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

.profile_card .profile_img .name{
	font-size: 24px;
	font-weight: 500;
	margin: 15px 0 5px;
}

.profile_card .profile_img .place{
	font-size: 14px;
	font-weight: 300;
}

.profile_card .place .icon{
	margin-right: 10px;
}

.profile_icons{
	display: flex;
	margin: 30px 0;
	justify-content: center;
}

.profile_icons .profile_item{
	margin-right: 15px;
}

.profile_icons .profile_item:last-child{
	margin-right: 0;
}

.profile_icons .icon,
.profile_icons .number{
	font-size: 24px;
}

.profile_icons .title{
	font-size: 12px;
	text-transform: uppercase;
	margin: 10px 0;
}

.profile_btn{
	background: #ebc654;
	padding: 10px;
	border-radius: 25px;
	width: 200px;
	margin: 0 auto;
	color: #8d731e;
	cursor: pointer;
}

.profile_btn:hover{
	background: #ffc208;
}

.back_btn, 
.settings_btn{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.back_btn{
	left: 0;
	box-shadow: inset -2px -2px 3px #6a60c3;
}

.settings_btn{
	right: 0;
	box-shadow: inset 2px -2px 3px #6a60c3;
}

.back_btn:hover, 
.settings_btn:hover{
	background: #6a60c3;
}

.profile_slider{
	width: 325px;
	height: 400px;
	background: #fff;
	color: #7b7a82;
	position: absolute;
	top: 25px;
	left: 0;
	font-size: 14px;
	transition: left 0.2s ease;
}

.profile_slider li{
	height: 80px;
	border-bottom: 1px solid #eceff4;
	padding: 15px;
}

.profile_slider li:last-child{
	border-bottom: 0;
}

.profile_slider li .slider_item,
.profile_slider li .slider_left{
	display: flex;
}

.profile_slider li .slider_item{
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.profile_slider img{
	width: 35px;
	border-radius: 50%;
	margin-right: 10px;
}

.profile_slider .item{
	text-align: left;
	font-size: 12px;
}

.profile_slider .item_email{
	font-weight: 300;
	margin-top: 5px;
}

.profile_slider .btn{
	width: 100px;
	padding: 8px 10px;
	border-radius: 25px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
}

.profile_slider .btn.btn_following{
	background: #6a60c3;
	color: #fff;
}

.profile_slider .btn.btn_following:hover{
	background: #8178d1;
}

.profile_slider .btn.btn_follow{
	border: 1px solid #7b7a82;
}

.profile_slider .btn.btn_follow:hover{
	color: #fff;
	background: #7b7a82;
}

.profile_slider.active{
	left: 100%;
}

.settings_btn.active{
	background: #6a60c3;
}

.settings_btn i{
	transition: transform 0.2s ease;
}

.settings_btn.active i{
	transform: rotate(360deg);
}